.SwapPage{
    display: flex;
    position: relative;
    min-height: 100vh;
    padding: 0 160px;
    box-sizing: border-box;
}

.AddLiqidity{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
}

.Pagebg{
    background:url('../../image/PCBackgroundImage02.png');
    /* width:100%; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-size: 100% 100%;
}

.addLiquidityBgOne{
    position: absolute;
    margin:0px;
    background:url('../../image/PCBackgroundImage02.png') no-repeat;
    background-size:100% 100%;
}

.swap{
    position: relative;
    z-index: 2;
}

/* 导航栏下方页面布局 */
.swapIndex{
    padding: 102px 20px 73px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swapCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.addLiquiditybtn{
    border-radius: 16px;
    border: none;
    width:154px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: none !important;
    background-color: rgb(225, 120, 16) !important;
    padding:15px 24px;
    box-sizing: border-box;
}

.addLiquiditybtn span{
    color:#fff;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
}

.fgiAxh:nth-child(2n){
    display: flex;
    justify-content: flex-end;
}

/* swap弹窗上半部分 */
.iBZLqn > .htRJve {
    padding: .9375rem;
    display: flex;
    flex-direction: column;
}

/* swap弹窗中上班部分交易金额数字的文字属性 */
.lkLplH > .eHgAlQ{
    font-size: 14px;
}

/* swap点击弹窗后读取动画右边的内容展示隐藏 */
.iBZLqn > .htRJve > .KwSkZ{
    display: none !important;
}

@media only screen and (min-width: 300px) and (max-width: 640px){
    .SwapPage{
        padding: 0;
    }

    /* 中间弹窗内边距显示问题 */
    .swapIndex{
        padding: 0.5rem;
    }

    /* 中间方框swap内容布局 */
    .swapCenter{
        margin-top: .625rem;
    }

    /* 点击选择代币时候弹窗空白和便宜的显示问题 */
    .sc-flMoUE > div:first-child{
        display: none !important;
    }

    /* 修改点击swap按钮弹窗 居中*/
    .kNTOXW{
        margin: auto !important;
    }

    /* swap弹窗上半部分 */
    .iBZLqn > .htRJve {
        padding: .9375rem;
        display: flex;
        flex-direction: column;
    }

    /* swap弹窗上半部分的边距设置 */
    .iBZLqn > .htRJve > .fa-dDH{
        margin:0 !important;
    }

    /* swap弹窗中上班部分交易金额数字的文字属性 */
    .lkLplH > .eHgAlQ{
        font-size: 10px;
    }

    /* 点击swap弹窗后的文字提示暂时隐藏起来 */
    .iBZLqn > .htRJve > .KwSkZ{
        display: none !important;
    }

    /* swap按钮点击成功后弹窗的布局提示 */
    .iBZLqn > .htRJve > .bgdZPC{
        justify-content: flex-start;
    }
}
