html,
body,
div{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* vertical-align: baseline; */
    /* height: 100% ; */
    width: 100% ;
}

/* 全局隐藏滚动条 */
::-webkit-scrollbar{
    display: none !important;
}

.ihCizU{
    overflow-x: inherit !important;
}

.element::-webkit-scrollbar { width: 0 !important }

.eIbyFk{
    white-space:nowrap !important;
}

.kvddcW > div:nth-child(3) > div:nth-child(2){
    width: 466px !important;
}

/* .iBZLqn div{
    display: flex;
    justify-content: center;
    align-items: center;
} */
/*
.gxQUQn > div > .jnvqfy div:nth-child(2){
    display: flex;
    justify-content: flex-end;
} */